# Override some defaults so BT stack is enabled and
# Classic BT is enabled
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
# CONFIG_BTDM_CTRL_HLI is not set

CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Increase default app partition size to accommodate BT
# by providing new partition table in "partitions_bt_source_example.csv"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_bt_source_example.csv"
